
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Application Submitted Successfully – Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Application Submitted Successfully
      </h1>

      eIIR XML Extract - Application Submitted Successfully
      Thanks, 4t3t 4t3 , for submitting your application to receive the eIIR XML Extract.
      You will be notified via the email address you provided when your application has been approved.
      (The email address provided was 34t3 )
      Until your application has been approved, no access to the eIIR XML Extract will be permitted.
      For your records, you may wish to note that we have the following details for your application
      Company or Organisation Details
      Company Name we3tq34
      Company Type Credit Reference Agency

      Company Website 43t4t4

      Subscription Details
      Application Submitted 05 September 2022
      Subscriber Contact Details
      Main Contact Mr. 4t3t 4t3
      Address 34t34 4334t 433 34t3

      Email 34t3

      Telephone 43t34

      Country United Kingdom

    </div>
  </div>

{% endblock %}
