
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Application complete – Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Application complete
        </h1>
        <div class="govuk-panel__body">
          Your reference number<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent you a confirmation email.</p>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">
        We’ve sent your application to Hackney Electoral Register Office.
      </p>
      <p class="govuk-body">
        They will contact you either to confirm your registration, or to ask for more information.
      </p>

      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
      </p>

      <!--eIIR XML Extract - Application Submitted Successfully
      Thanks, 4t3t 4t3 , for submitting your application to receive the eIIR XML Extract.
      You will be notified via the email address you provided when your application has been approved.
      (The email address provided was 34t3 )
      Until your application has been approved, no access to the eIIR XML Extract will be permitted.
      For your records, you may wish to note that we have the following details for your application-->

    </div>
  </div>

{% endblock %}
