
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Accessibility statement – Search the Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement
      </h1>


<p class="govuk-body">This accessibility statement applies to https://www.insolvencydirect.bis.gov.uk/eiir/</p>

<p class="govuk-body">This website is run by the Insolvency Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>change colours, contrast levels and fonts</li>
<li>navigate most of the website using just a keyboard</li>
</ul>

<p class="govuk-body">There are many options for you to customise your web browser and device that could help you to navigate this and other websites more easily.</p>

<p class="govuk-body">If you have a disability, AbilityNet has helpful advice on how to make your device easier to use.</p>

<h2 class="govuk-heading-m">
How accessible this website is
</h2>

<h2 class="govuk-heading-m">
Feedback and contact information
</h2>

If you need help completing this service, you can contact The Insolvency Service helpline:

Contact form: Insolvency Service Helpline.
Telephone: 0300 678 0015 (Find out about call charges).
Monday to Thursday, 9am to 5pm, Friday, 9am to 3pm.
If you contact us using our online form, we'll respond within 5 working days.

Reporting accessibility problems with this website

We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, contact us.


<h2 class="govuk-heading-m">
Enforcement procedure
</h2>

The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, contact the Equality Advisory and Support Service (EASS).

Technical information about this website's accessibility

The Insolvency Service is committed to making its website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.

<h2 class="govuk-heading-m">
Compliance status
</h2>

This website is partially compliant with the Web Content Accessibility Guidelines version 2.1 AA standard, due to the non-compliances listed below.

<h2 class="govuk-heading-m">
What we're doing to improve accessibility
</h2>

The issues are currently being worked on, and a new version of the site is expected in 2022.

Preparation of this accessibility statement

This statement was prepared on December 22nd, 2021.

This website was last tested on February 2nd, 2021, by Nomensa, who performed an evaluation of seven pages against all level A and AA success criteria of the Web Content Accessibility Guidelines 2.1. Content was selected to ensure a good representation of different pages, templates and components were included in testing.

<p class="govuk-body">This website's accessibility will be reviewed on a regular basis. We will update this accessibility statement with any relevant changes.</p>

    </div>
  </div>

{% endblock %}
