
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Accessibility statement – Search the Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Accessibility statement
      </h1>


<p class="govuk-body">This accessibility statement applies to the <a href="https://www.insolvencydirect.bis.gov.uk/eiir/">Individual Insolvency Register website</a>.</p>

<p class="govuk-body">This website is run by the Insolvency Service. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
<ul class="govuk-list govuk-list--bullet">
<li>change colours, contrast levels and fonts</li>
<li>navigate most of the website using just a keyboard</li>
</ul>

<p class="govuk-body">There are many options for you to customise your web browser and device that could help you to navigate this and other websites more easily.</p>

<p class="govuk-body">If you have a disability, <a href="https://mcmw.abilitynet.org.uk/">AbilityNet has helpful advice on how to make your device easier to use</a>.</p>

<h2 class="govuk-heading-m">
Reporting accessibility problems with this website
</h2>

<p class="govuk-body">We're always looking to improve the accessibility of this website. If you find any problems not listed on this page or think we're not meeting accessibility requirements, <a href="https://www.insolvencydirect.bis.gov.uk/externalonlineforms/GeneralEnquiry.aspx">contact the Insolvency Service</a>.</p>


<h2 class="govuk-heading-m">
Enforcement procedure
</h2>

<p class="govuk-body">
The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the 'accessibility regulations'). If you're not happy with how we respond to your complaint, <a href="https://www.equalityadvisoryservice.com/"">contact the Equality Advisory and Support Service (EASS)</a>.

<h2 class="govuk-heading-m">
Technical information about this website's accessibility
</h2>

<p class="govuk-body">
The Insolvency Service is committed to making this website accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
</p>

<h2 class="govuk-heading-m">
Compliance status
</h2>

<p class="govuk-body">
This website is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines version 2.1</a> AA standard.
</p>

<h2 class="govuk-heading-m">
Non-accessible content
</h2>

<p class="govuk-body">
We will provide details of where we&apos;re not meeting the guidelines at a later date.
</p>

<h2 class="govuk-heading-m">
What we're doing to improve accessibility
</h2>

<p class="govuk-body">Any issues are currently being looked at. We will review this website's accessibility on a regular basis. We will update this accessibility statement with any relevant changes.</p>

    </div>
  </div>

{% endblock %}
