
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Feedback – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="index">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Feedback
  </li>
</ol>
</div>
{% endblock %}

{% block content %}


  <!--
  <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Search the Individual Insolvency Register
    </h1>
  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>
-->


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        What would you like to tell us about?
      </h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
      </div>
  </div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
      <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="contact-hint">
    <div id="contact-hint" class="govuk-hint">
      Select one option.
    </div>
    <div class="govuk-radios" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="case" checked data-aria-controls="conditional-contact-2">
        <label class="govuk-label govuk-radios__label" for="contact-2">
          An insolvency agreement, bankruptcy case or debt relief order
        </label>
      </div>
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Case name
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Court name
          </label>
          <input class="govuk-input govuk-!-width-three-quarters" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Type
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Order or arrangement date
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        </div>
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-phone">
            Office
          </label>
          <input class="govuk-input govuk-!-width-one-third" id="contact-by-phone" name="contact-by-phone" type="tel" autocomplete="tel">
        </div>
        <div class="govuk-form-group">
          <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
              Can you provide more detail?
            </label>
          </h2>
          <div id="more-detail-hint" class="govuk-hint">
            Do not include personal or financial information, like your National Insurance number or credit card details.
          </div>
          <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>

      </div>



      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" data-aria-controls="conditional-contact">
        <label class="govuk-label govuk-radios__label" for="contact">
          The website
        </label>
      </div>
      <div class="govuk-radios__conditional" id="conditional-contact">
        <div class="govuk-form-group">
          <label class="govuk-label" for="contact-by-email">
            Enter URL or name of page
          </label>
          <input class="govuk-input" id="contact-by-email" name="contact-by-email" type="email" spellcheck="false" aria-describedby="contact-by-email-error" autocomplete="email">
          </div>
          <div class="govuk-form-group">
            <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="more-detail">
                Can you provide more detail?
              </label>
            </h2>
            <div id="more-detail-hint" class="govuk-hint">
              Do not include personal or financial information, like your National Insurance number or credit card details.
            </div>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>

      </div>

    </div>


  </fieldset>


</div>

      <a class="govuk-button" style="text-decoration:none;" href="search-results-page">
        Submit
      </a>

    </div>

  </div>

{% endblock %}
