{% extends "layout_eiir.html" %}

{% block pageTitle %}
Individual Insolvency Register – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Individual Insolvency Register
      </h1>

      <p class="govuk-body">Search the Individual Insolvency Register (IIR) for information about insolvencies and bankruptcies in England and Wales, including:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>individual voluntary arrangements (IVAs)</li>
        <li>debt relief orders (DROs)</li>
        <li>bankruptcy restrictions orders (BROs) and undertakings (BRUs)</li>
        <li>debt relief restrictions orders (DRROs) and undertakings (DRRUs)</li>
      </ul>

      <div class="govuk-inset-text">You can search using a person&apos;s <strong>name</strong> or <strong>trading name</strong> (for sole traders).</div>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Records are usually removed from the register within 3 months of a case ending.
        </strong>
        </div>

      <a href="search-page" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">About the Individual Insolvency Register</h2>

      <p class="govuk-body">The Individual Insolvency Register is a combination of 3 registers:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>individual insolvency</li>
        <li>bankruptcy restrictions</li>
        <li>debt relief restrictions</li>
      </ul>

      <p class="govuk-body">These registers are maintained by <a href="https://www.gov.uk/government/organisations/insolvency-service" class="govuk-link">the Insolvency Service</a>.</p>

      <h2 class="govuk-heading-m">
      Terms and conditions
      </h2>

      <p class="govuk-body">
      While every effort has been made to ensure that the information provided is accurate, occasionally errors may occur.
      The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise.
      </p>

      <p class="govuk-body">
      Find out more about the <a href="/citizen/v4/terms-and-conditions">terms and conditions</a>.
      </p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.insolvencydirect.bis.gov.uk/eiir/IIRFeedbackPage.asp">
                Tell us about this service
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                Guidance about bankruptcy and insolvency 
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
