
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Page not found – Search the Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Page not found</h1>
      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>
      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>

      <p class="govuk-body">
      If the web address is correct or you selected a link or button, contact the Insolvency Service:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>using our <a href="https://www.insolvencydirect.bis.gov.uk/externalonlineforms/GeneralEnquiry.aspx">general enquiry form</a> – we'll respond within 5 working days</li>
      <li>by calling the Insolvency Service helpline</li>
      </ul>

      <h3 class="govuk-heading-s">
      The Insolvency Service helpline
      </h3>

      <p class="govuk-body">
      Telephone: 0300 678 0015<br>
      Monday to Thursday, 9am to 5pm<br>
      Friday, 9am to 3pm<br>
      <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
      </p>


    </div>
  </div>

{% endblock %}
