
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Report an issue – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="index">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="case-detail-page">Case details</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Report an error or issue
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Report an error or issue
      </h1>
      </div>
      <div class="govuk-grid-column-one-third">

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          Tell us about any issues or errors in the details of an insolvency or bankruptcy case. For example, if the case name is spelt incorrectly.
        </p>

      <dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case name
    </dt>
    <dd class="govuk-summary-list__value">
      Vikki Adams
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Court name
    </dt>
    <dd class="govuk-summary-list__value">
      Voluntary Liquidation Cases
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Type
    </dt>
    <dd class="govuk-summary-list__value">
      	Individual Voluntary Arrangement
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Case number
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">N/A</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Order or arrangement date
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">4 July 2019</p>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Office
    </dt>
    <dd class="govuk-summary-list__value">
      <p class="govuk-body">The Insolvency Service</p>
    </dd>
  </div>
</dl>

<div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
  <div class="govuk-form-group">
    <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="with-hint">
        What are the errors or issues?
      </label>
    </h2>
    <div id="with-hint-hint" class="govuk-hint">
      Do not include personal or financial information, such as your National Insurance number or credit card details.
    </div>
    <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="5" aria-describedby="with-hint-info with-hint-hint"></textarea>
  </div>

  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
    You can enter up to 200 characters
  </div>

</div>

<h2 class="govuk-heading-m">
  Contact details
</h2>

<p class="govuk-body">We’ll only use these to contact you if we need more evidence.</p>

<div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
    Full name
  </label>
  <input class="govuk-input" id="full-name" name="full-name" type="text" spellcheck="false" autocomplete="name">
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="type">
    Organisation
  </label>
  <select class="govuk-select" id="type" name="type">
    <option value="published" selected>Choose organisation</option>
    <option value="updated">Member of the public</option>
    <option value="updated">Credit reference agency</option>
    <option value="views">Credit card issuer</option>
    <option value="comments">Bank or building society</option>
    <option value="updated">Mortgage provider</option>
    <option value="views">Government department</option>
    <option value="comments">Financial services</option>
    <option value="updated">Debt recovery agents</option>
    <option value="views">Other</option>
  </select>
</div>

<div class="govuk-form-group">
  <label class="govuk-label" for="email">
    Email address
  </label>
  <input class="govuk-input" id="email" name="email" type="email" spellcheck="false" aria-describedby="email-hint" autocomplete="email">
</div>

      <a class="govuk-button" style="text-decoration:none;" href="">
        Submit
      </a>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                Get help from the Insolvency Service
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                Find out more about bankruptcy and insolvency
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

{% endblock %}
