
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Terms and conditions – Search the Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Terms and conditions
      </h1>

      <p class="govuk-body">The documentation available on this website is designed to provide general information only.

      <div class="govuk-inset-text">
        While every effort has been made to ensure that the information provided is accurate, occasionally errors may occur. If you identify information which appears to be incorrect or omitted, <a href="https://www.insolvencydirect.bis.gov.uk/eiir/IIRFeedbackPage.asp">tell the Insolvency Service</a>.
      </div>

      <p class="govuk-body">
        We'll investigate the matter and correct the database as required.
      </p>

      <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
      <p class="govuk-body">The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise. The Insolvency Service and Official Receivers cannot provide legal or financial advice. You should seek this from Citizen's Advice, a solicitor, a qualified accountant, an authorised insolvency practitioner, reputable financial advisor or advice centre.</p>

  </strong>
</div>



    </div>
  </div>

{% endblock %}
