{% extends "layout_fip.html" %}

{% block pageTitle %}
  Insolvency practitioner details – Find an insolvency practitioner
{% endblock %}

<div class="govuk-width-container">

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="search-page">Search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="search-results-page">
        Search results
        </a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Insolvency practitioner details
      </li>
    </ol>
  </div>
{% endblock %}

<main class="govuk-main-wrapper">

{% block content %}

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-l">
    Insolvency practitioner details
  </h1>

</div>
</div>

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        Ian Solvent
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Company
      </dt>
      <dd class="govuk-summary-list__value">
        	Ian Solvent Insolvency Services
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        72 Gilt Street<br>Debtford<br>London<br>SE23 6FH
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Telephone number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">07700 900457</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Fax number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">07700 900457</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Email address
      </dt>
      <dd class="govuk-summary-list__value">
        	<a href = "mailto: ian.solvent@example.com">ian.solvent@iansolventinsolvencyservices.com</a>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        IP number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">123456</p>
      </dd>
    </div>
    </dl>


    <h2 class="govuk-heading-m">
      Authorising body
    </h2>
    <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">IPA</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Website
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body"><a href="https://insolvency-practitioners.org.uk/">Insolvency Practitioners Association</a></p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Address
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">Valiant House<br>4-10 Heneage Lane<br>London<br>EC3A 5DQ</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Telephone number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">020 7623 5108</p>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Fax number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">020 7623 5127</p>
      </dd>
    </div>
  </dl>

      <a class="govuk-button" style="text-decoration:none;" href="search-page">
        Find another insolvency practitioner
      </a>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                Get help from the Insolvency Service
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                Find out more about bankruptcy and insolvency
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.insolvencydirect.bis.gov.uk/ExternalOnlineForms/GeneralEnquiry.aspx">
                Give feedback about the Find an insolvency practitioner service
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
  </div>

  </main>

  </div>

{% endblock %}
