{% extends "layout_ddo.html" %}

{% block pageTitle %}
  Director disqualification outcomes
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

 <div class="govuk-width-container">



{% block beforeContent %}
<!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->
{% endblock %}


   <main class="govuk-main-wrapper">

{% block content %}

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Director disqualification outcomes
          </h1>
        </div>
        <div class="govuk-grid-column-one-third">

        </div>
        </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">View summaries and details of recent director disqualification results achieved by the Insolvency Service, or notified to us, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>details of the disqualified individual</li>
        <li>the start date of disqualification</li>
        <li>the period of disqualification</li>
        <li>details of misconduct</li>
      </ul>

      <div class="govuk-inset-text">
        <p class="govuk-body">New results are published every week and can be viewed for <strong>3 months</strong> from the date of publication.</p>
      </div>

      <a href="results-page" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">Whilst every effort is made to include all recent outcomes, the information in this service is not a complete record of all results obtained.</p>

      <p class="govuk-body">
        Find out more about<a href="https://www.gov.uk/government/publications/unfit-conduct-our-disqualification-and-restrictions-search-facilities--2">
            directors who have been disqualified due to misconduct</a>.
      </p>

      <div class="govuk-inset-text">
      <p class="govuk-body">If you believe the outcome results contain any errors, send an email to <a href="mailto:legalservices@insolvency.gov.uk">legalservices@insolvency.gov.uk</a> with details of the error.</p>
      </div>


    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                Get help from the Insolvency Service
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                Find out more about bankruptcy and insolvency
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.insolvencydirect.bis.gov.uk/ExternalOnlineForms/GeneralEnquiry.aspx">
                Give feedback about this service
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

  </main>

  </div>
{% endblock %}
