
{% extends "layout.html" %}

{% block pageTitle %}
  Home – Search the Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Search the Individual Insolvency Register (IIR)
      </h1>

      <p>The IIR is an amalgamation of the individual insolvency, bankruptcy restrictions and debt relief restrictions registers. The Insolvency Service is required by statute to maintain these registers, keep them up to date and make them available for public inspection.</p>
      <p>The IIR contains details of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>bankruptcies that are current or have ended in the last 3 months</li>
        <li>debt relief orders that are current or have ended in the last 3 months</li>
        <li>current individual voluntary arrangements (IVAs) and Fast-Track voluntary arrangements (FTVAs), including those that have ended in the last 3 months</li>
        <li>current bankruptcy restrictions orders or undertakings (BROs/BRUs) and interim bankruptcy restrictions orders (iBROs)</li>
        <li>current debt relief restrictions orders or undertakings (DRROs/DRRUs) and interim debt relief restrictions orders (iDRROs)</li>         
      </ul>

      <p>For more information about the IIR please read the <a href="#" class="govuk-link">guidance</a> or our <a href="#" class="govuk-link">frequently asked questions</a>.</p>

      <p>Unless stated otherwise all proceedings are Main proceedings under Article 3(1), Council Regulation (EC) 2015/948 on insolvency proceedings ('EU Regulations 2015')</p>
      
      <h2 class="govuk-heading-l">
        Search the IIR
      </h2>

      <p>Please choose how you wish to search the Register.</p>

      <div class="govuk-button-group">
        <a class="govuk-button" style="text-decoration:none;" href="v1/individual-search-page">
          Search by name details
        </a>
        <a class="govuk-button" style="text-decoration:none;" href="v1/trading-name-search-page">
          Search trading name details
        </a>
      </div>

    </div>
  </div>

{% endblock %}
