
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Search page – Search the Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Search page
      </h1>

      <p>Searching across ALL courts in England and Wales.</p>
      <p>You can conduct your search by entering the full surname, or if you are unsure of the spelling, just the first few characters of the surname.</p>
      <p>The forename is optional, but could significantly speed up your search if entered.</p>

      <div class="govuk-inset-text">
        If searching on a name containing non-alphabetic text such as an apostrophe (eg: O'DONALD), it is recommended that you just enter the first character of the surname and as much as possible of the forename.
      </div>

      <div class="govuk-form-group">
        <div id="account-number-hint" class="govuk-hint">
          Hint text...
        </div>
        <input class="govuk-input govuk-!-width-full" id="search" name="search" type="text" spellcheck="false" aria-describedby="search">
      </div>

      <a class="govuk-button" style="text-decoration:none;" href="search-results-page">
        Search
      </a>

    </div>
  </div>

{% endblock %}
