
{% extends "layout_subscriber.html" %}

{% block pageTitle %}
  Download successful – Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">
          Download successful
        </h1>
        <div class="govuk-panel__body">
          Your data extract filename<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <br>
      <br>
      <h2 class="govuk-heading-m">What happens next</h2>

      <!--
      <p class="govuk-body">We&#39;ll send you further details about how to download the data extracts.</p>
      -->

      <p class="govuk-body"><a href="data-extract-download-page.html" class="govuk-link govuk-link--no-visited-state">Return to download data extract</a></p>

      <!--
      <div class="govuk-inset-text">
        You will not be able to access the data extracts until then.
      </div>
      -->

      <!--
      <p class="govuk-body">
        <a href="#" class="govuk-link">What did you think of this service?</a>
      </p>
      -->

    </div>
  </div>

{% endblock %}
