
{% extends "layout_subscriber.html" %}

{% block pageTitle %}
  Data extract subscriber profile – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Subscriber profile
      </h1>

      <div class="govuk-inset-text">
        Your subscription now has 842 days before expiry
      </div>

      <p class="govuk-body">Now that your application has been approved, access to the eIIR XML extract is permitted.</p>
      <p class="govuk-body govuk-!-margin-bottom-8">For your records, you may wish to note that we have the following details associated with your subscription</p>

      <h2 class="govuk-heading-m">Company or organisation details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            Insolvency Service internal account
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company type
          </dt>
          <dd class="govuk-summary-list__value">
            Government department
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company website
          </dt>
          <dd class="govuk-summary-list__value">
            www.insolvencydirect.bis.gov.uk
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Subscription details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application submitted
          </dt>
          <dd class="govuk-summary-list__value">
            9 December 2005
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription start date
          </dt>
          <dd class="govuk-summary-list__value">
            12 September 2005
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription end date
          </dt>
          <dd class="govuk-summary-list__value">
            1 January 2025
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription expires in
          </dt>
          <dd class="govuk-summary-list__value">
            842 days
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main contact
          </dt>
          <dd class="govuk-summary-list__value">
            Ms. Sheila Todd
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            4th Floor<br>4 Abbey Orchard Street<br>London<br>SW1P 1HT
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            sheila.todd@insolvency.gsi.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0207 291 6891
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>
      </dl>

    </div>
  </div>

{% endblock %}
