{% extends "layout_dd.html" %}

{% block pageTitle %}
  Case detals – Bankruptcy and debt relief restrictions
{% endblock %}

 <div class="govuk-width-container">

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Case details
      </li>
    </ol>
  </div>
{% endblock %}

<main class="govuk-main-wrapper">

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Case details
      </h1>
    </div>
  </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <dl class="govuk-summary-list govuk-summary-list--no-border">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        Michael Frances Boynton
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
          15 December 1977
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of order
      </dt>
      <dd class="govuk-summary-list__value">
        27 October 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date submitted
      </dt>
      <dd class="govuk-summary-list__value">
        28 October 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Length of order
      </dt>
      <dd class="govuk-summary-list__value">
        3 years 0 months
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Court number
      </dt>
      <dd class="govuk-summary-list__value">
        5132500 of 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last known address
      </dt>
      <dd class="govuk-summary-list__value">
        3 Boxford Court<br>
        Felixstowe<br>
        IP11 2XW
      </dd>
    </div>
    </dl>

      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper"><label class="govuk-label govuk-label--m" for="with-hint">
          Conduct
          </label>
        </h2>
        <textarea class="govuk-textarea govuk-js-character-count" id="with-hint" name="with-hint" rows="10" aria-describedby="with-hint-info with-hint-hint">Mr Michael Frances Boynton traded to the detriment of HM Revenue & Customs (HMRC) by operating a policy of unfair discrimination in that : • Mr Boynton traded as a self-employed plumber • Between September 2009 and January 2022 Mr Boynton failed to submit any tax returns and paid a total amount of £150.00 • Mr Boynton failed to set aside any sums due to HMRC at a time when he was aware of his obligations to file returns and pay the tax due there under and was able to arrange his affairs so as to do so. • HMRC are Mr Boynton’s principal creditor and have submitted a claim in the bankruptcy of £68,445.05 which has materially contributed to his insolvency. </textarea>
      </div>

  </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-s" id="subsection-title">
        Related content
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
              Get help from the Insolvency Service
            </a>
          </li>
          <li>
            <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
              Find out more about bankruptcy and insolvency
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>

  </div>

  </main>

  </div>

{% endblock %}
