{% extends "layout_dd.html" %}

{% block pageTitle %}
  Bankruptcy and debt relief restrictions
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

 <div class="govuk-width-container">



{% block beforeContent %}
<!--
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
  -->
{% endblock %}


   <main class="govuk-main-wrapper">

{% block content %}

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">
            Director disqualifications
          </h1>
        </div>
        <div class="govuk-grid-column-one-third">

        </div>
        </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">Summaries of recent bankruptcy restrictions and debt relief restrictions results, including:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>details of the individual subject to restrictions</li>
        <li>period of restrictions</li>
        <li>details of misconduct</li>
      </ul>

      <a href="search-results-page" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
        Start now
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">New results are available on a weekly basis and will be accessible for a period of three months from publication.</p>

        <p class="govuk-body">Whilst every effort is made to include all recent outcomes, the information in this section should not be taken as a complete record of all results obtained. To find out more about this search facility, how to find out if someone is subject to restrictions or how to request details of unfit conduct for cases that are older than 3 months please read <a href="https://www.gov.uk/government/publications/unfit-conduct-our-disqualification-and-restrictions-search-facilities--2">Unfit conduct: how to find out if somebody is disqualified or subject to restrictions and why we took the action</a>.</p>

      <p class="govuk-body">If you believe this page contains any errors, email legalservices@insolvency.gov.uk with details of the error that you have found.</p>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/get-help-insolvency-service">
                Get help from the Insolvency Service
              </a>
            </li>
            <li>
              <a class="govuk-link--no-visited-state" href="https://www.gov.uk/browse/tax/court-claims-debt-bankruptcy">
                Find out more about bankruptcy and insolvency
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

  </main>

  </div>
{% endblock %}
