
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Data Extract Subscriber Download – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "subscriber-profile-page"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Data Extract Subscriber Download
      </h1>

      <p class="govuk-body">Now that your application has been approved, access to the eIIR XML Extract is permitted.</p>
      <p class="govuk-body govuk-!-margin-bottom-8">For your records, you may wish to note that we have the following details associated with your subscription</p>

      <h2 class="govuk-heading-m">
        Current Extract Details
      </h2>

      <p class="govuk-body">20220912</p>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            Snapshot Completed
          </dt>
          <dd class="govuk-summary-list__value">
            Y
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Snapshot Date
          </dt>
          <dd class="govuk-summary-list__value">
            12/09/2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extract Completed
          </dt>
          <dd class="govuk-summary-list__value">
            Y
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extract File Available
          </dt>
          <dd class="govuk-summary-list__value">
            Y
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Extract Date
          </dt>
          <dd class="govuk-summary-list__value">
            12/09/2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total Entries On Extract
          </dt>
          <dd class="govuk-summary-list__value">
            428366
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total Bankruptcies on Extract
          </dt>
          <dd class="govuk-summary-list__value">
            30031
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total IVAs on Extract      
          </dt>
          <dd class="govuk-summary-list__value">
            369072
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            New Bankruptcies (i.e. since yesterday) on Extract
          </dt>
          <dd class="govuk-summary-list__value">
            0
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Total DROs on Snapshot
          </dt>
          <dd class="govuk-summary-list__value">
            29263
          </dd>
        </div>
      </dl>

      <p class="govuk-body govuk-!-margin-bottom-8">7UTNB8G8</p>

      <p class="govuk-body">Todays Extract File Is Now Available For Download (see below)</p>
      <p class="govuk-body">(To download, just right-click on the link below and choose 'Save Target As')</p>

      <a class="govuk-button" style="text-decoration:none;" href="">
        DOWNLOAD TODAY's eIIR XML Extract File
      </a>

    </div>
  </div>

{% endblock %}
