
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Data Extract Subscriber Profile – Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Data Extract Subscriber Profile
      </h1>

      <div class="govuk-inset-text">
        Your Subscription Now Has 842 days before Expiry
      </div>

      <p class="govuk-body">Now that your application has been approved, access to the eIIR XML Extract is permitted.</p>
      <p class="govuk-body">For your records, you may wish to note that we have the following details associated with your subscription</p>

      <h2 class="govuk-heading-m">Company or Organisation Details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company Name
          </dt>
          <dd class="govuk-summary-list__value">
            Insolvency Service Internal Account
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company Type
          </dt>
          <dd class="govuk-summary-list__value">
            Government Department
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company Website
          </dt>
          <dd class="govuk-summary-list__value">
            www.insolvencydirect.bis.gov.uk
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Subscription Details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application Submitted
          </dt>
          <dd class="govuk-summary-list__value">
            09 December 2005
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription Start Date
          </dt>
          <dd class="govuk-summary-list__value">
            12 September 2005
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription End Date
          </dt>
          <dd class="govuk-summary-list__value">
            01 January 2025
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription Expires In
          </dt>
          <dd class="govuk-summary-list__value">
            842 days
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Contact Details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main Contact
          </dt>
          <dd class="govuk-summary-list__value">
            Ms. Sheila Todd
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            4th Floor<br>4 Abbey Orchard Street<br>London<br>SW1P 1HT
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email
          </dt>
          <dd class="govuk-summary-list__value">
            sheila.todd@insolvency.gsi.gov.uk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone
          </dt>
          <dd class="govuk-summary-list__value">
            0207 291 6891
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            United Kingdom
          </dd>
        </div>
      </dl>
      
      <h2 class="govuk-heading-m">Your Download History</h2>

      <div class="govuk-inset-text">
        NOTE : These entries show your accesses to the IIRSubscriberDownload page, even though the Extract File itself may not have been downloaded on that access.
      </div>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">DATE</th>
            <th scope="col" class="govuk-table__header">EXTRACT ZIPFILE</th>
            <th scope="col" class="govuk-table__header">SUBSCRIBER IP ADDRESS</th>
            <th scope="col" class="govuk-table__header">WEBSERVER</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13/12/2005 14:14:11</td>
            <td class="govuk-table__cell">K6Y4PH3H.zip</td>
            <td class="govuk-table__cell">62.25.106.209</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13/12/2005 14:14:11</td>
            <td class="govuk-table__cell">K6Y4PH3H.zip</td>
            <td class="govuk-table__cell">62.25.106.209</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13/12/2005 14:14:11</td>
            <td class="govuk-table__cell">K6Y4PH3H.zip</td>
            <td class="govuk-table__cell">62.25.106.209</td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">13/12/2005 14:14:11</td>
            <td class="govuk-table__cell">K6Y4PH3H.zip</td>
            <td class="govuk-table__cell">62.25.106.209</td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>

      <p class="govuk-body">To access the eIIR XML Extract Download, please click the Download button</p>

      <a class="govuk-button" style="text-decoration:none;" href="data-extract-subscriber-download-page">
        Download
      </a>

    </div>
  </div>

{% endblock %}
