{% extends "layout_bdrro.html" %}

{% block pageTitle %}
  Case detals – Bankruptcy and debt relief restrictions
{% endblock %}

 <div class="govuk-width-container">

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Case details
      </li>
    </ol>
  </div>
{% endblock %}

<main class="govuk-main-wrapper">

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Case details
      </h1>

      <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Name
      </dt>
      <dd class="govuk-summary-list__value">
        Michael Frances Boynton
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of birth
      </dt>
      <dd class="govuk-summary-list__value">
          15 December 1977
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Date of order
      </dt>
      <dd class="govuk-summary-list__value">
        27 October 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Length of order
      </dt>
      <dd class="govuk-summary-list__value">
        3 years 0 months
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Court number
      </dt>
      <dd class="govuk-summary-list__value">
        5132500 of 2022
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Last known address
      </dt>
      <dd class="govuk-summary-list__value">
        3 Boxford Court<br>
        Felixstowe<br>
        IP11 2XW
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        IP number
      </dt>
      <dd class="govuk-summary-list__value">
        <p class="govuk-body">123456</p>
      </dd>
    </div>
    </dl>





      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <p>Read more <a href="/url/of/onward/page">about this topic</a>.</p>

    </div>
  </div>

  </main>

  </div>

{% endblock %}
