{% extends "layout_bdrro.html" %}

{% block pageTitle %}
  Case detals – Bankruptcy and debt relief restrictions outcomes
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Case details
      </li>
    </ol>
  </div>
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Case details
      </h1>

      <p>This is a paragraph of text. It explains in more detail what has happened and wraps across several lines.</p>

      <p>Read more <a href="/url/of/onward/page">about this topic</a>.</p>

    </div>
  </div>

{% endblock %}
