
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  Trading name search page – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Trading name search page
      </h1>

      <p>Searching across ALL courts in England and Wales.</p>
      <p>As you are searching for Individuals involved with Trading Names, you can enter the the full Trading Name (e.g. Sample Trading) or a partial Trading Name (e.g. Sam).</p>

      <div class="govuk-inset-text">
        If searching on a name which is difficult to spell or contains unusual characters, it is recommended that you only enter the first few characters.
      </div>

      <div class="govuk-form-group">
        <label class="govuk-label govuk-!-font-weight-bold" for="trading-name">
          Trading name
        </label>
        <input class="govuk-input govuk-input--width-20" id="trading-name" name="trading-name" type="text" spellcheck="false" aria-describedby="trading-name">
      </div>

      <div class="govuk-button-group">
        <a class="govuk-button" style="text-decoration:none;" href="/v1/trading-name-search-results-page">
          Start search
        </a>
      </div>

    </div>
  </div>

{% endblock %}
