
{% extends "layout_eiir.html" %}

{% block pageTitle %}
  VIKKI ADAMS – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "search-results-page"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Report requested for: Vikki Adams
      </h1>

      <details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Legal disclaimer
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body">While every effort has been made to ensure that the information provided is accurate, occasionally errors may occur. If you identify information which appears to be incorrect or omitted, please inform us using the feedback links contained within this site, so that we can investigate the matter and correct the database as required.</p>
    <p class="govuk-body">The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise. Please note that The Insolvency Service and Official Receivers cannot provide legal or financial advice. You should seek this from a Citizen's Advice Bureau, a solicitor, a qualified accountant, an authorised insolvency practitioner, reputable financial advisor or advice centre.</p>
    <p class="govuk-body">The Individual Insolvency Register is a publicly available register and The Insolvency Service does not endorse, nor make any representations regarding, any use made of the data on the register by third parties.</p>
    </div>
</details>

      <!--
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <p class="govuk-body">While every effort has been made to ensure that the information provided is accurate, occasionally errors may occur. If you identify information which appears to be incorrect or omitted, please inform us using the feedback links contained within this site, so that we can investigate the matter and correct the database as required.</p>
      <p class="govuk-body">The <strong>Insolvency Case Details</strong> are taken from the Court Order made on the Order Date, and include the address(es) from which debts were incurred. They cannot be changed without the consent of the Court.</p>
      <p class="govuk-body">The <strong>Individual Details</strong> may have changed since the Court Order but, even so, they might not reflect the person's current address or occupation at the time you make your search, and <strong>they should not be relied on as such</strong>.</p>
      <p class="govuk-body">The Insolvency Service cannot accept responsibility for any errors or omissions as a result of negligence or otherwise. Please note that The Insolvency Service and Official Receivers cannot provide legal or financial advice. You should seek this from a Citizen's Advice Bureau, a solicitor, a qualified accountant, an authorised insolvency practitioner, reputable financial advisor or advice centre.</p>
      <p class="govuk-body">The Individual Insolvency Register is a publicly available register and The Insolvency Service does not endorse, nor make any representations regarding, any use made of the data on the register by third parties.</p>
      -->

      <!--
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      -->

    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Individual details
      </h2>

      <dl class="govuk-summary-list" style="margin-bottom: 60px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            ADAMS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            VIKKI
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mrs
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Gender
          </dt>
          <dd class="govuk-summary-list__value">
            Female
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Occupation
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 September 1978
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last known address
          </dt>
          <dd class="govuk-summary-list__value">
            74 Sarahs Croft<br>Netherton<br>GBR<br>L30 3RX
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            This person may also be known as
          </dt>
          <dd class="govuk-summary-list__value">
            (NEE WILLIAMS) (Alias )
          </dd>
        </div>
      </dl>

      <div class="govuk-inset-text">
        The individual details may have changed since the Court Order but might not reflect the person's current address or occupation.
      </div>

      <br>
      <br>

      <h2 class="govuk-heading-m">
        Insolvency case details
      </h2>


      <dl class="govuk-summary-list" style="margin-bottom: 60px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Case name
          </dt>
          <dd class="govuk-summary-list__value">
            VIKKI ADAMS
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Court
          </dt>
          <dd class="govuk-summary-list__value">
            Voluntary Liquidation Cases
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Individual Voluntary Arrangement
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number
          </dt>
          <dd class="govuk-summary-list__value">
            (Information Not Available)
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Arrangement date
          </dt>
          <dd class="govuk-summary-list__value">
            4 July 2019
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Status
          </dt>
          <dd class="govuk-summary-list__value">
            Completed on 26 July 2022
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Notification date
          </dt>
          <dd class="govuk-summary-list__value">
            1 August 2022
          </dd>
        </div>
      </dl>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          Individual Voluntary Arrangements remain on the register for 3 months after the agreement is revoked, implemented or terminated.
        </strong>
      </div>

      <div class="govuk-inset-text">
        The insolvency case details are taken from the Court Order made on the order date, and include the address(es) from which debts were incurred. They cannot be changed without the consent of the Court.
      </div>

      <br>

      <h2 class="govuk-heading-m">
        Insolvency practitioner contact details
      </h2>

      <dl class="govuk-summary-list" style="margin-bottom: 60px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Main insolvency practitioner
          </dt>
          <dd class="govuk-summary-list__value">
            NEIL HENRY
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Firm
          </dt>
          <dd class="govuk-summary-list__value">
            LINES HENRY
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            5 Tabley Court<br>Victoria Street<br>ALTRINCHAM<br>United Kingdom
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            WA14 1EZ
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0161 929 1905
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">
        Insolvency Service contact details
      </h2>

      <dl class="govuk-summary-list" style="margin-bottom: 60px;">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Insolvency Service office
          </dt>
          <dd class="govuk-summary-list__value">
            The Insolvency Service
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact
          </dt>
          <dd class="govuk-summary-list__value">
            Enquiry Desk
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Cannon House<br>18 Priory Queensway<br>Birmingham<br>United Kingdom
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            B4 6FD
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            0303 003 1742
          </dd>
        </div>
      </dl>

    </div>
    <!--<div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#">
                Related link
              </a>
            </li>
            <li>
              <a href="#" class="govuk-!-font-weight-bold">
                More <span class="govuk-visually-hidden">in Subsection</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>-->
  </div>

{% endblock %}
