
{% extends "layout_subscriber.html" %}

{% block pageTitle %}
  Data extract request – Individual Insolvency Register
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Apply to get data extracts
      </h1>

      <p class="govuk-body">The Insolvency Service can now offer the option of downloading the contents of the Individual Insolvency Register as a data extract.</p>

      <div class="govuk-inset-text">
        Please note that this option is a chargeable option.
      </div>

      <p class="govuk-body">The extract will be available on a daily basis, and will be available for download from 09:30 each day. Each daily extract will contain the complete contents of the data available on The Individual Register for that day.</p>

      <p class="govuk-body">To qualify to receive this data extract, you must register here with The Insolvency Service as an interested subscriber, by submitting this online application request.</p>

      <p class="govuk-body">After that request has been received and vetted (and providing your organisation has paid over the required charges to The Insolvency Service), you will receive further details on how to receive the data extract.</p>

      <p class="govuk-body govuk-!-margin-bottom-8">To proceed with your application, please click the <strong>Register As Subscriber</strong> button below.</p>

      <a class="govuk-button" style="text-decoration:none;" href="data-extract-application-details-page">
        Register as a subscriber
      </a>

    </div>
  </div>

{% endblock %}
