
{% extends "layout_admin.html" %}

{% block pageTitle %}
  Add a subscriber – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="subscriber-list-page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="subscriber-profile-page-1" method="post" novalidate>

        <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
          Add a subscriber
        </h1>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Organisation or company details
            </h2>
          </legend>
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisation">
              Name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="organisation" name="organisation" type="text" autocomplete="organisation">
          </div>
          <!--
          <div class="govuk-form-group">
            <label class="govuk-label" for="type">
              Type
            </label>
            <select class="govuk-select" id="type" name="type">
              <option value="published" selected>Select...</option>
              <option value="published">Other</option>
              <option value="updated">Credit reference agency</option>
              <option value="views">Credit card issuer</option>
              <option value="comments">Bank or Building society</option>
              <option value="updated">Mortgage provider</option>
              <option value="views">Government department</option>
              <option value="comments">Financial services</option>
              <option value="comments">Debt recovery agents</option>
            </select>
          </div>
          <div class="govuk-form-group govuk-!-margin-bottom-8">
            <label class="govuk-label" for="website">
              Website
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="website" name="website" type="text" autocomplete="website">
          </div>
          -->
        </fieldset>

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Main contact details
            </h2>
          </legend>
          <!--<div class="govuk-form-group">
            <label class="govuk-label" for="type">
              Title
            </label>
            <select class="govuk-select" id="type" name="type">
              <option value="published" selected>Mr.</option>
              <option value="updated">Mrs.</option>
              <option value="views">Miss.</option>
              <option value="views">Ms.</option>
            </select>
          </div>-->
          <div class="govuk-form-group">
            <label class="govuk-label" for="first-name">
              First name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="first-name" name="first-name" type="text" autocomplete="first-name">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="website">
              Last name
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="website" name="website" type="text" autocomplete="website">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
              Address line 1
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-line-1" name="address-line-1" type="text" autocomplete="address-line-1">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-2">
              Address line 2 (optional)
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="address-line-2" name="address-line-2" type="text" autocomplete="address-line-2">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="city">
              Town or city
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="city" name="city" type="text" autocomplete="city">
          </div>
          <div class="govuk-form-group">
            <label class="govuk-label" for="postcode">
              Postcode
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="postcode" name="postcode" type="text" autocomplete="postcode">
          </div>
          <!--
          <div class="govuk-form-group">
            <label class="govuk-label" for="type">
              Country
            </label>
            <select class="govuk-select" id="type" name="type">
              <option value="published" selected>Select...</option>
              <option value="united-kingdom">United Kingdom</option>
              <option value="outside-united-kingdom">Outside United Kingdom</option>
            </select>
          </div>
          -->
          <div class="govuk-form-group">
            <label class="govuk-label" for="website">
              Email address
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="website" name="website" type="text" autocomplete="website">
          </div>
          <div class="govuk-form-group govuk-!-margin-bottom-8">
            <label class="govuk-label" for="website">
              Telephone number
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" id="website" name="website" type="text" autocomplete="website">
          </div>
        </fieldset>

        <fieldset class="govuk-fieldset govuk-!-margin-bottom-8" aria-describedby="contact-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              Is this subscription active?
            </h2>
          </legend>
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact" name="contact" type="radio" value="email" checked data-aria-controls="conditional-contact">
              <label class="govuk-label govuk-radios__label" for="contact">
                Yes
              </label>
            </div>
            <div class="govuk-radios__conditional" id="conditional-contact">
              <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                  Subscription end date
                </label>
                <div id="passport-issued-hint" class="govuk-hint">
                  For example, 27 3 2007
                </div>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="12">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="8">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2023">
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" data-aria-controls="conditional-contact-2">
              <label class="govuk-label govuk-radios__label" for="contact-2">
                No
              </label>
            </div>
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact-2">
              <div class="govuk-form-group">
                <label class="govuk-label" for="first-name">
                  Subscription end date
                </label>
                <div id="passport-issued-hint" class="govuk-hint">
                  For example, 27 3 2007
                </div>
                <div class="govuk-date-input" id="passport-issued">
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-day">
                        Day
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-day" name="passport-issued-day" type="text" inputmode="numeric" value="12">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-month">
                        Month
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="passport-issued-month" name="passport-issued-month" type="text" inputmode="numeric" value="8">
                    </div>
                  </div>
                  <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="passport-issued-year">
                        Year
                      </label>
                      <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="passport-issued-year" name="passport-issued-year" type="text" inputmode="numeric" value="2023">
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </fieldset>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
