
{% extends "layout_admin.html" %}

{% block pageTitle %}
  Admin - Individual Insolvency Register
{% endblock %}

{% block content %}

<div class="govuk-width-container">

 <main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Admin area
      </h1>
    </div>
  </div>



  <div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l govuk-!-font-weight-bold">Feedback</h2>
    <p>View feedback from citizens.</p>
    <p class="govuk-body">
    <a href="/styles/" class="govuk-link govuk-!-font-weight-bold">View feedback</a>
    </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-l govuk-!-font-weight-bold">Subscribers</h2>
    <p>Add new subscribers or update existing subscriber details.</p>
    <p class="govuk-body">
    <a href="add-subscriber" class="govuk-link govuk-!-font-weight-bold">Add subscriber</a>
    <p>
    <p class="govuk-body">
    <a href="subscriber-list-page" class="govuk-link govuk-!-font-weight-bold">Update subscriber details</a><br>
    </p>


    <!--
  </div>
  <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l govuk-!-font-weight-bold">Add Subscriber</h2>
    <p>govuk-grid-column-one-third</p>
    <a href="/styles/" class="govuk-link govuk-!-font-weight-bold">Add Subscriber</a>
  </div>
  </div>
  -->

    </div>
  </div>
  </div>
  </main>
  </div>

{% endblock %}
