
{% extends "layout_admin.html" %}

{% block pageTitle %}
  Errors or issues - Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="admin-area">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Errors or issues
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      Errors or issues
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">

    <!--
    <h2 class="govuk-heading-m">
      Filter
    </h2>
    -->


    <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Organisation
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="All" selected>All</option>
    <option value="Member of the public" >Member of the public</option>
    <option value="Credit reference agency">Credit reference agency</option>
    <option value="Credit card issuer">Credit card issuer</option>
    <option value="Bank or building society">Bank or building society</option>
    <option value="Mortgage provider">Mortgage provider</option>
    <option value="Government department">Government department</option>
    <option value="Financial services">Financial services</option>
    <option value="Debt recovery agency">Debt recovery agents</option>
    <option value="Other">Other</option>
  </select>
    </div>

    <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Status
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="All" selected>All</option>
    <option value="not viewed">Not viewed</option>
    <option value="Viewed" >Viewed</option>
  </select>
    </div>

    <div class="govuk-form-group">
  <label class="govuk-label" for="sort">
    Type
  </label>
  <select class="govuk-select" id="sort" name="sort">
    <option value="All" selected>All</option>
    <option value="bankruptcy">Bankruptcy</option>
    <option value="Viewed">Debt relief order</option>
    <option value="Viewed">IVA</option>
  </select>
    </div>

  </div>





  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">
      64871
    </h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Status
          </dt>
          <dd class="govuk-summary-list__value">
             <strong class="govuk-tag govuk-tag--grey" id="report-status">Not viewed</strong>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="">
              Change to viewed
            </a>
          </dd>
          </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Report date
        </dt>
        <dd class="govuk-summary-list__value">
          21 October 2022
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
        Case name
        </dt>
        <dd class="govuk-summary-list__value">
          <a href="https://eiir-prototype.herokuapp.com/citizen/v4/case-details-page">Vikki Adams</a>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Type
        </dt>
        <dd class="govuk-summary-list__value">
          Individual Voluntary Arrangement
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Order or arrangement date
        </dt>
        <dd class="govuk-summary-list__value">
          4 July 2019
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reporter name
        </dt>
        <dd class="govuk-summary-list__value">
          Sarah Philips
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          sarah.philips@example.co.uk
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Organisation
        </dt>
        <dd class="govuk-summary-list__value">
          Member of the public
        </dd>
      </div>
    </dl>

    <div class="govuk-form-group">
      <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
            Report
          </label>
        </h3>
    <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
    </div>

      <hr class="govuk-section-break govuk-section-break--visible">


<h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">
  64870
</h2>

<dl class="govuk-summary-list govuk-summary-list--no-border">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Status
    </dt>
    <dd class="govuk-summary-list__value">
       <strong class="govuk-tag" id="report-status">Viewed</strong>
    </dd>
    <dd class="govuk-summary-list__actions">
      <a href="">
        Change to not viewed
      </a>
    </dd>
    </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Report date
    </dt>
    <dd class="govuk-summary-list__value">
      21 October 2022
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
    Case name
    </dt>
    <dd class="govuk-summary-list__value">
      <a href="https://eiir-prototype.herokuapp.com/citizen/v4/case-details-page">Vikki Adams</a>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Type
    </dt>
    <dd class="govuk-summary-list__value">
      Individual Voluntary Arrangement
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Order or arrangement date
    </dt>
    <dd class="govuk-summary-list__value">
      4 July 2019
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Reporter name
    </dt>
    <dd class="govuk-summary-list__value">
      Sarah Philips
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Email address
    </dt>
    <dd class="govuk-summary-list__value">
      sarah.philips@example.co.uk
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Organisation
    </dt>
    <dd class="govuk-summary-list__value">
      Member of the public
    </dd>
  </div>
  </dl>

  <div class="govuk-form-group">
    <h3 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="more-detail">
          Report
        </label>
      </h3>
  <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</textarea>
  </div>



<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">




<nav class="govuk-pagination" role="navigation" aria-label="results" style="display: flex;">
  <div class="govuk-pagination__prev">
    <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" rel="prev">
      <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
      </svg>
      <span class="govuk-pagination__link-title">Previous</span></a>
  </div>
  <ul class="govuk-pagination__list">
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" aria-label="Page 1">
        1
      </a>
    </li>
    <li class="govuk-pagination__item govuk-pagination__item--current">
      <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" aria-label="Page 2" aria-current="page">
        2
      </a>
    </li>
    <li class="govuk-pagination__item">
      <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" aria-label="Page 3">
        3
      </a>
    </li>
  </ul>
  <div class="govuk-pagination__next">
    <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
        <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
      </svg></a>
  </div>
</nav>

</div>

  <!--
  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
  -->





</div>

{% endblock %}
