
{% extends "layout_admin.html" %}

{% block pageTitle %}
  Experian – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "subscriber-list-page"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Experian
      </h1>

      <h2 class="govuk-heading-m">Organisation or company details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Experian
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            Credit reference agency
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> type</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Website
          </dt>
          <dd class="govuk-summary-list__value">
            www.experianplc.com
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> website</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Main contact details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Title
          </dt>
          <dd class="govuk-summary-list__value">
            Mr
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> title</span>
            </a>
          </dd>
        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Full name
          </dt>
          <dd class="govuk-summary-list__value">
            Joe Bloggs
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            Bloggs
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> last name</span>
            </a>
          </dd>
        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Address
          </dt>
          <dd class="govuk-summary-list__value">
            Newenham House<br>Northern Cross, Malahide Road<br>Dublin 17<br>D17 AY61<br>Outside United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> address</span>
            </a>
          </dd>
        </div>
        <!--<div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            Outside United Kingdom
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="#">
              Change<span class="govuk-visually-hidden"> country</span>
            </a>
          </dd>
        </div>-->
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">joe.bloggs@experianplc.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Telephone number
          </dt>
          <dd class="govuk-summary-list__value">
            <p class="govuk-body">+44 (0) 344 481 8000</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> email address</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-6">Subscription details</h2>

      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          This subscription ends in 312 days.
        </strong>
      </div>

      <!--<div class="govuk-inset-text">
        This subscription is due to expire in 312 days.
      </div>-->

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Application submitted
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2005
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link govuk-link--no-visited-state" href="data-extract-application-details-page">
              Change<span class="govuk-visually-hidden"> name</span>
            </a>-->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription start
          </dt>
          <dd class="govuk-summary-list__value">
            12 December 2005
          </dd>
          <dd class="govuk-summary-list__actions">
            <!--<a class="govuk-link govuk-link--no-visited-state" href="data-extract-application-details-page">
              Change<span class="govuk-visually-hidden"> type</span>
            </a>-->
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Subscription end
          </dt>
          <dd class="govuk-summary-list__value">
            12 August 2023
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1-change-profile">
              Change<span class="govuk-visually-hidden"> website</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Data extract email details</h2>

      <p class="govuk-body">The data extract will be sent to the following email addresses.</p>

      <div class="govuk-inset-text">
        There's a limit of <strong>3</strong> data extract email addresses per subscriber.
      </div>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            michael.cain@uk.experian.com
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> michael.cain@uk.experian.com</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Remove<span class="govuk-visually-hidden"> michael.cain@uk.experian.com</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__value">
            jeremy.winter@uk.experian.com
          </dt>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Change<span class="govuk-visually-hidden"> jeremy.winter@uk.experian.com</span>
            </a>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link govuk-link--no-visited-state" href="#">
              Remove<span class="govuk-visually-hidden"> jeremy.winter@uk.experian.com</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="subscriber-profile-page-1-add" method="post" novalidate>

        <button class="govuk-button" data-module="govuk-button">
          Add another email address
        </button>

      </form>

    </div>
  </div>

{% endblock %}
