
{% extends "layout_admin.html" %}

{% block pageTitle %}
  What would you like to change this email address to? – Individual Insolvency Register
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="admin-area">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="subscriber-list-page">View and update subscribers</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Subscriber details
  </li>
</ol>
</div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="subscriber-profile-page-1-added" method="post" novalidate>

        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="email-address">
            What would you like to change this email address to?
            </label>
          </h1>
          <input class="govuk-input govuk-input--width-20" id="email-address" name="email-address" type="text" value="sarah.philips@uk.experian.com">
        </div>

        <button class="govuk-button" data-module="govuk-button">
          Continue
        </button>

      </form>

    </div>
  </div>

{% endblock %}
