
{% extends "layout_admin.html" %}

{% block pageTitle %}
  Subscribers – Individual Insolvency Register
{% endblock %}

<div class="govuk-width-container">

{% block beforeContent %}
<div class="govuk-breadcrumbs">
<ol class="govuk-breadcrumbs__list">
  <li class="govuk-breadcrumbs__list-item">
    <a class="govuk-breadcrumbs__link" href="admin-area">Home</a>
  </li>
  <li class="govuk-breadcrumbs__list-item">
    Subscribers
  </li>
</ol>
</div>
{% endblock %}

<main class="govuk-main-wrapper">

{% block content %}



      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">
        Subscribers
      </h1>

      <p class="govuk-body govuk-!-margin-bottom-8">Select the relevant subscriber link to view and update their details.</p>


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-quarter">


  <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    <label class="govuk-label" for="sort">
      View
    </label>
    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="active" name="active" type="checkbox" value="active" checked>
        <label class="govuk-label govuk-checkboxes__label" for="active">
          Active
        </label>
      </div>
      <div class="govuk-checkboxes__item">
        <input class="govuk-checkboxes__input" id="inactive" name="inactive" type="checkbox" value="mines">
        <label class="govuk-label govuk-checkboxes__label" for="inactive">
          Inactive
        </label>
      </div>
    </div>

  </fieldset>
</div>

  </div>




    <div class="govuk-grid-column-three-quarters">

      <!--<ul class="govuk-list">
        <li style="margin-bottom: 25px; padding-top: 10px; margin-bottom: 25px; padding-top: 10px; border-top: 1px solid #b1b4b6; list-style: none; border-top: 1px solid #b1b4b6; list-style: none;">
          <a class="govuk-link" href="#">Benefits calculators</a>
        </li>
        <li style="margin-bottom: 25px; padding-top: 10px; margin-bottom: 25px; padding-top: 10px; border-top: 1px solid #b1b4b6; list-style: none; border-top: 1px solid #b1b4b6; list-style: none;">
          <a class="govuk-link" href="#">Benefit overpayments</a>
        </li>
        <li style="margin-bottom: 25px; padding-top: 10px; margin-bottom: 25px; padding-top: 10px; border-top: 1px solid #b1b4b6; list-style: none; border-top: 1px solid #b1b4b6; list-style: none;">
          <a class="govuk-link" href="#">Benefit fraud</a>
        </li>
        <li style="margin-bottom: 25px; padding-top: 10px; margin-bottom: 25px; padding-top: 10px; border-top: 1px solid #b1b4b6; list-style: none; border-top: 1px solid #b1b4b6; list-style: none;">
          <a class="govuk-link" href="#">More</a>
        </li>
      </ul>-->

      <table class="govuk-table govuk-!-margin-bottom-8">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" style="padding-top: 0;">Subscriber ID</th>
            <th scope="col" class="govuk-table__header" style="padding-top: 0;">Company or organisation name</th>
            <th scope="col" class="govuk-table__header" style="padding-top: 0;">Subscription end date</th>
            <!--<th scope="col" class="govuk-table__header" style="width: 15%;">Status</th>-->
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112201</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-1">Experian</a></td>
            <td class="govuk-table__cell"> 12 August 2023</td>
            <!--<td class="govuk-table__cell">Active</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112202</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page-2">Beesley & Company Insolvency Practitioners</a></td>
            <td class="govuk-table__cell">13 August 2023</td>
            <!--<td class="govuk-table__cell">Active</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112203</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Office of Fair Trading</a></td>
            <td class="govuk-table__cell">14 August 2023</td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112204</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Dun &amp; Bradstreet</a></td>
            <td class="govuk-table__cell">15 August 2023</td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112205</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">TransUnion International UK Limited</a></td>
            <td class="govuk-table__cell">16 August 2023</td>
            <!--<td class="govuk-table__cell">Active</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112206</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Public Guardianship Office</a></td>
            <td class="govuk-table__cell">17 August 2023</td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112207</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">TDX Group Ltd</a></td>
            <td class="govuk-table__cell">18 August 2023</td>
            <!--<td class="govuk-table__cell">Active</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112208</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Evolve</a></td>
            <td class="govuk-table__cell">19 August 2023</td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112209</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Registry Trust Ltd</a></td>
            <td class="govuk-table__cell">20 August 2023</td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">2005112210</td>
            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="subscriber-profile-page">Debtmatters Plc</a></td>
            <!--<td class="govuk-table__cell">Inactive</td>-->
            <td class="govuk-table__cell">21 August 2023</td>
          </tr>
        </tbody>
      </table>

      <nav class="govuk-pagination" role="navigation" aria-label="results" style="display: flex;">
        <ul class="govuk-pagination__list">
          <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" aria-label="Page 3">
              3
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link govuk-link--no-visited-state" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg></a>
        </div>
      </nav>

    </div>

  </div>

   </div>

   </main>

   </div>

{% endblock %}
