
{% extends "layout.html" %}

{% block pageTitle %}
  Home – eIIR Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prototype
        <span class="govuk-caption-xl">Individual Insolvency Register</span>
      </h1>

      <h2 class="govuk-heading-l">ATU Sprint 1</h2>

      <p>17/08/22 - 30/08/22</p>

      <h3 class="govuk-heading-m">
        Citizen v1
      </h3>

      <p>Rebuild of the current citizen user journey using GDS components. This will form the basis of subsequent iterations.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/">Start page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-search-page">Individual search page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-search-results-page">Individual search results page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-case-detail-page">Individual case detail page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-search-page">Trading name search page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-search-results-page">Trading name search results page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-case-detail-page">Trading name case detail page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">Citizen v2</h3>

      <p>1st iteration of the current citizen user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/">Start page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/search-page">Search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/search-results-page-1.html">Search results page 1</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/search-results-page-2A.html">Search results page 2A</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/search-results-page-2B.html">Search results page 2B</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-1">Case detail page 1</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-2">Case detail page 2</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-3">Case detail page 3</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-4A">Case detail page 4A</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-4B">Case detail page 4B</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-5">Case detail page 5</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-6A">Case detail page 6A</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-6B">Case detail page 6B</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-6C">Case detail page 6C</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v2/case-detail-page-6D">Case detail page 6D</a><strong class="govuk-tag govuk-tag--red" style="margin-left: 10px;">Archived</strong>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">ATU Sprint 2</h2>

      <p>31/08/22 - 13/09/22</p>

      <h3 class="govuk-heading-m">
        Citizen v3
      </h3>

      <p>2nd iteration of the current citizen user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/">Start page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/search-page">Search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/search-results-page">Search results page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/case-detail-page">Case detail page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/privacy">Privacy page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/accessibility-statement">Acccessibility statement page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/contact">Contact page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/terms-and-conditions">Terms and conditions page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/service-unavailable-page">Service unavailable page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/page-not-found-page">Page not found page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v3/problem-with-the-service-page">Problem with the service</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">
        Admin v1
      </h3>

      <p>Rebuild of the current admin user journey using GDS components. This will form the basis of subsequent iterations.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="admin/v1/">Login page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="admin/v1/dashboard">Dashboard page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">
        Subscriber v1
      </h3>

      <p>Rebuild of the current subscriber user journey using GDS components. This will form the basis of subsequent iterations.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v1/">Data extract requests page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v1/data-extract-terms-and-conditions-page">Data extract terms and conditions page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v1/data-extract-application-details-page">Data extract application details page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v1/data-extract-application-submitted-page">Data extract application submitted page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v1/">Login page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v1/data-extract-subscriber-profile-page">Data extract subscriber profile page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v1/data-extract-subscriber-download-page">Data extract subscriber download page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">
        Subscriber v2
      </h3>

      <p>1st iteration of the subscriber user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v2/data-extract-terms-and-conditions-page-pc">Data extract terms and conditions page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v2/data-extract-application-details-page-pc">Data extract application details page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v2/data-extract-application-check-your-answers-page">Data extract application check your answers page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v2/data-extract-application-submitted-page-2">Data extract application submitted page</a><strong class="govuk-tag govuk-tag--green" style="margin-left: 10px;">Complete</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v2/">Data extract subscriber login page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v2/create-data-extract-page">Create data extract page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v2/download-data-extract-page">Download data extract page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v2/data-extract-download-history-page">Data extract download history page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/download/v2/data-extract-subscriber-profile-page">Data extract subscriber profile page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">
        Subscriber v3
      </h3>

      <p>2nd iteration of the subscriber user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v3/">Data extract requests page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v3/data-extract-application-details-page">Data extract application details page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v3/data-extract-application-check-your-answers-page">Data extract application check your answers page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="subscriber/register/v3/data-extract-application-submitted-page">Data extract application submitted page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">ATU Sprint 3</h2>

      <p>14/08/22 - 27/09/22</p>      

    </div>
  </div>

{% endblock %}
