
{% extends "layout.html" %}

{% block pageTitle %}
  Home – eIIR Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prototype
        <span class="govuk-caption-xl">Individual Insolvency Register</span>
      </h1>

      <h2 class="govuk-heading-l">Citizen</h2>

      <p>This is the latest version of the Citizen user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/">Start page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-search-page">Individual search page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-search-results-page">Individual search results page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/individual-case-detail-page">Individual case detail page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-search-page">Trading name search page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-search-results-page">Trading name search results page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v1/trading-name-case-detail-page">Trading name case detail page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/privacy">Privacy page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/accessibility-statement">Acccessibility statement page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/contact">Contact page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/terms-and-conditions">Terms and conditions page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/service-unavailable-page">Service unavailable page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/page-not-found-page">Page not found page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="citizen/v4/problem-with-the-service-page">Problem with the service</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Admin</h2>

      <p>This is the latest version of the Admin user journey.</p>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="admin/v1/">Admin login page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="admin/v1/subscriber-list-page">Subscriber list page</a>
        </li>
        <li>
          <a class="govuk-link--no-visited-state" href="admin/v1/subscriber-profile-page-1">Subscriber profile page</a>
        </li>
      </ul>

      <h2 class="govuk-heading-l">Subscriber</h2>

      <p>This user journey has been replaced by an email notification system.</p>

      <h2 class="govuk-heading-l">Archive</h2>

      <ul class="govuk-list">
        <li>
          <a class="govuk-link--no-visited-state" href="archive">Archive</a>
        </li>
      </ul>

    </div>
  </div>

{% endblock %}
