
{% extends "layout.html" %}

{% block pageTitle %}
  Home – eIIR Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Prototype
        <span class="govuk-caption-xl">Individual Insolvency Register</span>
      </h1>

      <h2 class="govuk-heading-l">ATU Sprint 1</h2>

      <p>17/08/22 - 30/08/22</p>

      <h3 class="govuk-heading-m">v1</h2>

      <ul class="govuk-list">
        <li>
          <a href="/v1">Index page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="/v1/individual-search-page">Individual search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="/v1/trading-name-search-page">Trading name search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <h3 class="govuk-heading-m">v2</h2>

      <ul class="govuk-list">
        <li>
          <a href="v2/start">Start page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="v2/individual-search-page">Individual search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="v2/trading-name-search-page">Trading name search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="v2/search-results-page.html">Search results page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="v2/case-detail-page-1">Case detail page (Example 1)</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="v2/case-detail-page-2">Case detail page (Example 2)</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">ATU Sprint 2</h2>

      <p>31/08/22 - 13/09/22</p>

      <!--<h3 class="govuk-heading-m"></h2>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/v1">Index page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="/v1/individual-search-page">Individual search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
        <li>
          <a href="/v1/trading-name-search-page">Trading name search page</a><strong class="govuk-tag govuk-tag--blue" style="margin-left: 10px;">In design</strong>
        </li>
      </ul>-->

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <h2 class="govuk-heading-l">ATU Sprint 3</h2>

      <p>14/08/22 - 27/09/22</p>      

    </div>
  </div>

{% endblock %}
